<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>list</title>
    </head>
    <body>
        <h1>List</h1>
        <button onclick="location.href='/write'">write</button>
        <table border="1" style="text-align:center">
            <thead>
                <!-- <td width="50">NO</td> -->
                <td width="70">ID</td>
                <td width="70">Title</td>
                <td width="100">Content</td>
                <td width="70">Detail</td>
            </thead>
            
            {% for i in rows %}
            <tr>
                <!-- <td>{{i[0]}}</td> -->
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td> <form action="/detail" method="POST">
                        <input type="hidden" name="rowid" value="{{i[0]}}">
                        <input type="submit" value="detail"></input>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table> 
    </body>
</html>